<center><h1><%= @application.name %>'s Application</h1></center>

<center><h4>Application Info</h4></center>
Full Address: <%= @application.street_address %>,
<%= @application.city %> <%= @application.state %>,
<%= @application.zipcode %><br></br>
Reason Description: <%= @application.description %>

<center><h4>Add a Pet to this Application</h4>
<%= form_with url: "/applications/#{@application.id}?search=search", method: :get, local: true do |form| %>
<%=form.label :search, "Pet name:" %>
<%=form.text_field :search%>
<%=form.submit "Search"%>
<%end%></center>

<% if @pets.present? %>
  <% @pets.each do |pet| %>
    <p><%= pet.name %>
    <%= button_to "Adopt this Pet", "/applications/#{@application.id}/pets/#{pet.id}" %>
  <% end %>
<% end %>

<center><h4>Application Status</h4></center>
<%= @application.status %>
